.fa-tags {
  font-size: 20px;  
}

.img-thumbnail {
    background-color: #868282;
}

.pfDetails {
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

.pfDetails * {
    padding-left: 10px;
}