.pflist {
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

.pflist>li {
    padding-left: 0;
}

.pflist a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}


.pflist .selected {
    background-color: white;
    color: black !important;
}